* text=auto
*.md text eol=lf whitespace=-blank-at-eol
gradlew text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.jar binary
*.png binary
*.pdf binary
*.docx binary
*.pptx binary
